{
  "env": {
    "development": {
      "plugins": [
        [
          "styled-components",
          {
            "ssr": true,
            "displayName": true,
            "preprocess": false,
            "pure": true,
            "namespace": "sc"
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "styled-components",
          {
            "ssr": true,
            "displayName": true,
            "preprocess": false,
            "pure": true,
            "namespace": "sc"
          }
        ],
        ["react-remove-properties", { "properties": ["data-testid"] }]
      ]
    },
    "test": {
      "presets": [
        ["@babel/preset-env", { "targets": { "node": "current" } }],
        "@babel/preset-typescript"
      ]
    }
  },
  "plugins": [
    [
      "styled-components",
      { "ssr": true, "displayName": true, "preprocess": false, "pure": true, "namespace": "sc" }
    ]
  ]
}
